{% extends "base.html" %}
{% load star_rating %}
{% load static %}
{% block content %}

<div class="container py-4">
    <div class="card">
        <div class="card-body">
             <h1 class="mb-6">{{ hotel.hotel_name }}</h1>
                <div class="star-rating">
                    {% star_rating hotel.star_rating %}
                </div>
            <p class="card-text">
                <strong>Address:</strong>
                {% if hotel.country %}{{ hotel.country }}{% endif %}
                {% if hotel.state %}{% if hotel.country %}, {% endif %}{{ hotel.state }}{% endif %}
                {% if hotel.city %}{% if hotel.country or hotel.state %}, {% endif %}{{ hotel.city }}{% endif %}
                {% if hotel.addressline1 %}{% if hotel.country or hotel.state or hotel.city %}, {% endif %}{{ hotel.addressline1 }}{% endif %}
            </p>
            {% if hotel.numberrooms %}
                <p>
                    <strong>Number of rooms:</strong> {{ hotel.numberrooms }}
                </p>
            {% endif %}
            {% if hotel.numberfloors %}
                <p>
                    <strong>Number of floors:</strong> {{ hotel.numberfloors }}
                </p>
            {% endif %}
            {% if hotel.yearopened %}
                <p>
                    <strong>Year opened:</strong> {{ hotel.yearopened }}
                </p>
            {% endif %}
            {% if hotel.yearrenovated %}
                <p>
                    <strong>Year renovated:</strong> {{ hotel.yearrenovated }}
                </p>
            {% endif %}
            {% if hotel.overview %}
                <h1 class="mb-3">Overview</h1>
                <div class="alert alert-info" role="alert">
                    {{ hotel.overview }}
                </div>
            {% endif %}
            {% if hotel.url %}
                <a href="{{ hotel.url }}" class="btn btn-primary">Visit Website</a>
            {% endif %}
        </div>
    </div>
</div>

    {% if photo_urls %}
        <div id="hotelPhotosCarousel" class="carousel slide mt-4" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for photo in photo_urls %}
                    <div class="carousel-item{% if forloop.first %} active{% endif %}" style="text-align: center;">
                        <img src="{{ photo }}" srcset="{{ photo }} 1x, {{ photo_hd }} 2x" alt="Hotel Photo" style="max-width: 50%; height: auto;">
                    </div>
                {% endfor %}
            </div>

        </div>
    {% endif %}


<div class="container mt-3">
    <div id="hotelMap" style="height: 300px;"></div>

    <input type="hidden" id="hotelLat" value="{{ hotel.latitude }}">
    <input type="hidden" id="hotelLng" value="{{ hotel.longitude }}">

    <script src="{% static 'js/additions/hotel_map.js' %}" async defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api }}&callback=initMap&libraries=marker" async defer></script>
</div>

<div class="container mt-3">
    <h2>Weather Forecast</h2>
    <div class="row">
        {% for day, data in weather_forecast.items %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ day }}</h5>
                    <p class="card-text"><strong>Average Temperature:</strong> {{ data.average_temp }}°C</p>
                    <p class="card-text"><strong>Weather:</strong> {{ data.most_common_main }}</p>
                    <p class="card-text"><strong>Description:</strong> {{ data.most_common_description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}