.video-gallery {
    overflow-x: auto; /* Позволяет прокрутку по горизонтали */
    white-space: nowrap; /* Гарантирует, что видео будут в одну линию */
}

.video-item iframe {
    width: 100%;
    height: 100%;
}

.video-item {
    position: relative;
    display: inline-block;
}

.video-container {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    display: none;
    z-index: 100;
}

.video-item:hover .tooltip {
    display: block;
}